version: '3.8'
services:
  postgresql:
    container_name: database
    image: "postgres"
    environment:
      POSTGRES_USER: $PGUSER
      POSTGRES_DB: $PGDATABASE
      POSTGRES_PASSWORD: $PGPASSWORD
    network_mode: "host"
    volumes:
      - postgres:/data/postgres
    restart: unless-stopped

volumes:
  postgres:
