version: '3.8'
services:
  app:
    build: .
    environment:
      - TOKEN=$TOKEN
  postgresql:
    image: "postgres"
    environment:
      POSTGRES_DB: $DBNAME
      POSTGRES_USER: $USER
      POSTGRES_PASSWORD: $PASSWORD
    ports:
      - $PORT:$PORT
    volumes:
      - postgres:/data/postgres
    restart: unless-stopped

networks:
  postgres:
    driver: bridge

volumes:
    postgres:
