version: '3.8'
services:
  app:
    build: .
    environment:
      - TOKEN=$TOKEN
  postgresql:
    image: "postgres"
    environment:
      POSTGRES_DB: $DBNAME
      POSTGRES_USER: $USER
      POSTGRES_PASSWORD: $PASSWORD
    ports:
      - $PORT:$PORT
    volumes:
       - postgres:/data/postgres
    networks:
      - postgres
    restart: unless-stopped
  pgadmin:
      image: dpage/pgadmin4
      environment:
        PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin4@pgadmin.org}
        PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
        PGADMIN_CONFIG_SERVER_MODE: 'False'
      volumes:
        - pgadmin:/var/lib/pgadmin
      ports:
        - "${PGADMIN_PORT:-5050}:80"
      networks:
        - postgres
      restart: unless-stopped

networks:
  postgres:
    driver: bridge

volumes:
    postgres:
    pgadmin:
