version: '3.8'
services:
  app:
    build: ./app
    env_file:
      - .env
    environment:
      - TOKEN=$TOKEN
  postgresql:
    image: "postgres"
    environment:
      POSTGRES_USER: $PGUSER
      POSTGRES_DB: $PGDATABASE
      POSTGRES_PASSWORD: $PGPASSWORD
    ports:
      - $PGPORT:$PGPORT
    volumes:
      - postgres:/data/postgres
    restart: unless-stopped

networks:
  postgres:
    driver: bridge

volumes:
    postgres:
