version: '3.8'
services:
  # Telegram bot
  app:
    container_name: app
    build: ./app
    configs:
      - source: base_tsconfig
        target: /tsconfig.json
    env_file:
      - .env

  # Server
  server:
    container_name: server
    build: ./server
    configs:
      - source: base_tsconfig
        target: /tsconfig.json
    env_file:
      - .env
    ports:
      - $SERVER_PORT:$SERVER_PORT

  # Database
  postgresql:
    container_name: database
    image: "postgres"
    environment:
      POSTGRES_USER: $PGUSER
      POSTGRES_DB: $PGDATABASE
      POSTGRES_PASSWORD: $PGPASSWORD
    ports:
      - $PGPORT:$PGPORT
    volumes:
      - postgres:/data/postgres
    restart: unless-stopped

networks:
  postgres:
    driver: bridge

configs:
  base_tsconfig:
    file: ./tsconfig.json

volumes:
  postgres:
