@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@100;300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  font-family: "Ubuntu", "Roboto", sans-serif !important;
}

html, body {
  padding: 0;
  margin: 0;
}

button {
  text-transform: none !important;
  font-size: 15px !important;
  font-family: "Roboto", sans-serif !important;
}
